<header>
  <img src="../assets/BookstoreAdminLogo.png" alt="logo">
<ul>
  <li><a>Users</a></li>
  <li><a>Categories</a></li>
  <li><a>Books</a></li>
  <li><a>Customers</a></li>
  <li><a>Reviews</a></li>
  <li><a>Orders</a></li>
</ul>
</header>
<main>
  <h1>Vaishali Tiwari</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam molestiae consectetur dicta, ad deserunt eaque reprehenderit possimus, atque et fugit corrupti ratione. Illo eveniet culpa mollitia, tempore nesciunt, perferendis unde, sed sequi adipisci voluptates accusamus omnis. Numquam expedita esse incidunt modi at autem minus repellat possimus quia, magni soluta sit eaque rerum repudiandae atque in maxime sequi accusamus cum vitae amet? Quasi laborum aspernatur numquam necessitatibus, rem cumque dolore. Voluptatum quae alias sed suscipit exercitationem earum quas officiis harum ab. Ipsam fuga quisquam reiciendis harum, quos nisi velit fugit, alias ut eveniet iusto, qui repellendus sint consectetur minima dolorum hic.</p>
  <button class="btn btn-danger">Delete</button>
</main>
<footer>
  <p>Copyright (c) 2017 by Evergreen Books Co., Ltd</p>
</footer>